<html>
<head>
    <meta http-equiv=refresh content="{{ request.user.refresh_time }}">
    <STYLE>
        A {
            text-decoration: none;
        }
    </STYLE>
</head>
<body bgcolor=black>
{% for message in object_list %}
    {% if message.message_type != 1 %}
        <table width="100%" border="0">
            <tbody>
            <tr>
                <td width="35%"></td>
                <td valign="top"><font face="arial" color="#b8826d" size="-2"><b>Стражник:</b></font></td>
                <td align="left" width="65%">
                    <font face="arial" color="#b8826d" size="-2">
                        {% if message.message_type == 2 %}
                            Заключенный {{ message.user.username }} доставлен в замок
                            {{ message.created_at|date:'H:i' }}
                        {% elif message.message_type == 3 %}
                            {{ message.user.username }} сбежал из замка {{ message.created_at|date:'H:i' }}
                        {% endif %}
                    </font>
                </td>
            </tr>
            </tbody>
        </table>
    {% else %}
        {% if message.to %}
            {% if message.to == request.user or message.user == request.user %}
                <table cellpadding="0" border="0" cellspacing="0" width="100%">
                    <tbody>
                    <tr>
                        <td bgcolor="#B22222" width="5"></td>
                        <td width="5"></td>
                        <td>
                            <font color="{{ message.user.nik_color }}">Приватное от {{ message.user.username }}:</font>
                            <font color="{{ message.user.msg_color }} }}">{{ message.message }}</font><br>
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        {% else %}
            <a href="javascript:parent.frames['ctrl'].fu('{{ message.user.username }}')">
                <font color="{{ message.user.nik_color }}"><b>{{ message.user.username }}:</b></font>
            </a>
            <font color="{{ message.user.msg_color }} }}">{{ message.message }}</font><br>
        {% endif %}
    {% endif %}
{% endfor %}
