<html>
<head>
    <meta http-equiv=refresh content="{{ request.user.refresh_time }}">
    <STYLE>
        A {
            text-decoration: none;
        }
    </STYLE>
</head>
<body bgcolor=black>
{% for message in object_list %}
    <a href="javascript:parent.frames['ctrl'].fu('{{ message.user.username }}')">
        <font color="{{ message.user.nik_color }}"><b>{{ message.user.username }}:</b></font>
    </a>
    <font color="{{ message.user.msg_color }} }}">{{ message.message }}</font><br>
{% endfor %}
