{% extends 'right_frame.html' %}
{% load static %}
{% block content %}
    <ol type="a">
        <li>Не разрешается использовать ненормативную лексику и намеки на нее ни в сообщениях ни в никах.
        </li>
        <li>Не разрешается неуважительно относиться и оскорблять заключенных.
        </li>
        <li>Не разрешается посылать более 3 одинаковых сообщений.
        </li>
        <li>Не разрешается использовать более 10 смайликов на одном экране чата.
        </li>
        <li>Не разрешается злоупотреблять написанием сообщений в верхнем регистре символов.
        </li>
        <li>Желательно доброжелательно встречать новичков.
        </li>
        <li>Приветствуются научно-технические темы разговоров.
        </li>
        <li>Не забывайте, есть другие камеры кроме основной.
        </li>
    </ol>
    <p align="justify">
        За нарушение вышеназванных правил, администратор может удалить заключенного из замка на любое время, в
        зависимомти от тяжести проступка.
    </p>
{% endblock %}