{% load static %}
<html>
<body text="#b8826d" vlink="#8a543f" alink="#ffffff" link="#ffff00" bgcolor="#000000" marginwidth="0" marginheight="0">
<table width="90%" border="0">
    <tbody>
    <tr>
        <td>
        </td>
        <td width="250">
{#            <a href="http://chat.irk.ru/konkurs.php" target="_blank">Девчонки, выберем самого красивого#}
{#            парня!</a>#}
{#            <font style="font-size: 11px; font-family: Verdana, Arial, monospace;">Дню св. Валентина#}
{#            посвящается: <a href="http://chat.irk.ru/konkurs.php" target="_blank">конкурс на лучшую пару</a></font>#}
        </td>
        <td valign="top" align="middle">
            <img src="{% static 'images/castle.gif' %}">
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>