{% extends 'right_frame.html' %}
{% load static %}
{% block head-tag %}
    <head>
        <meta http-equiv=refresh content="60">
        <STYLE>
            A {
                text-decoration: none;
            }
        </STYLE>
    </head>
{% endblock %}
{% block body-tag %}
    <body bgcolor="#000000" background="{% static 'images/bg_right.gif' %}" text="#b8826d" link="#b8826d"
          vlink="#b8826d" alink="#b8826d">
{% endblock %}
{% block content %}
    <br>
    <p>
        {% for object in object_list %}
            {% if object.is_sleep %}
                <img src="{% static 'images/away.gif' %}">
            {% else %}
                <img src="{% static 'images/online.gif' %}">
            {% endif %}
            <a href="javascript:parent.frames['ctrl'].fu('{{ object.username }}')">{{ object.username }}</a>
            <br>
        {% endfor %}
    </p>
{% endblock %}